<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zl.mapper.CategoryCustomMapper" >
  <resultMap id="CategoryCustom" type="com.zl.entity.CategoryCustom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="hot" property="hot" jdbcType="BIT" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    
    <association property="account" javaType="com.zl.entity.Account">
    		<id column="account_id" property="id"/>
			<result column="name" property="name"/>
			<result column="pass" property="pass"/>
			<result column="login" property="login"/>
    </association>
    
  </resultMap>
  
  <select id="getAllCategoryCustom"  resultMap="CategoryCustom" parameterType="string">
  
	SELECT c.*,a.id account_id,a.login,a.name,a.pass  FROM category c LEFT JOIN account a  ON c.aid=a.id
	<if test="_parameter != null ">
			where type=#{type}
	</if>
  </select>
  
  <delete id="deleteByIds" parameterType="string">
  	delete from category where 
  	<if test="_parameter != null">
		id in (${_parameter}) 
  	</if>
  </delete>

</mapper>